@model QuizH.ViewModels.Exam.EditExamViewModel
<div class="row">
    <div class="col-md-6">

        <form asp-controller="Exam" asp-action="Edit" method="post">
            <div class="form-group">
                <label asp-for="Title">
                    Title
                    <input type="hidden" asp-for="OldTitle" />
                    <input class="form-control" asp-for="Title" />
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Instructions">
                    Instructions
                    <input class="form-control" asp-for="Instructions" />
                </label><br />
            </div>
            <div class="form-group">
                <label asp-for="Course">
                    Course
                    <select class="form-control" asp-for="Course" asp-items="@(new SelectList(Model.AvailableCourses))"></select>
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Questions">
                    Questions

                </label>
            </div>
            <input type="submit" class="btn btn-default" />
        </form>
    </div>
    <div class="col-md-6">
        

    </div>
</div>
@section Scripts {

    <script src="~/js/Exam.js" asp-append-version="true"></script>
    <script type="text/javascript">
        var vm = @Json.Serialize(Model.AvailableQuestions)
        ko.applyBindings(vm);
    </script>
}