@model QuizH.ViewModels.Exam.ExamCreationViewModel
@await Html.PartialAsync("_TextEditor")

<div class="row">
    <h2>Creazione Esami</h2>
    <div class="col-md-6">
        <form asp-controller="Exam" asp-action="Insert" method="post">
            <h3>Informazioni Generali</h3>
            <input class="form-control" asp-for="Id" type="hidden" />
            <div class="form-group">
                <label asp-for="Title">
                    Titolo
                </label>
                <div>
                    <span data-bind="html: title"></span>
                    <a href="#" data-bind="click: editTitle">Edit</a>
                    <input class="form-control" asp-for="Title" type="hidden" data-bind="value: title" />
                </div>

            </div>
            <div class="form-group">
                <label asp-for="Instructions">
                    Istruzioni
                </label>
                <div>
                    <span data-bind="html: instructions"></span>
                    <a href="#" data-bind="click: editInstructions">Edit</a>
                    <input class="form-control" asp-for="Instructions" type="hidden" data-bind="value: instructions" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Course">
                    Corso
                </label>
                <select class="form-control" asp-for="Course" asp-items="@(new SelectList(Model.AvailableCourses))"></select>
            </div>
            <h3>Domande</h3>
            <div class="form-group">
                <!-- ko if: selectedQuestions().length > 0-->
                <table class="table table-striped">
                    <thead>
                        <tr><th>Id</th><th>Question</th></tr>
                    </thead>
                    <tbody data-bind="foreach: selectedQuestions">
                        <tr>
                            <td data-bind="text: id"></td>
                            <td data-bind="html: text"></td>
                            <td>
                                <input type="hidden" data-bind="value: id, attr: { name: 'Questions['+$index()+']'}" />
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- /ko -->
                <!-- ko if: selectedQuestions().length === 0-->
                <div class="alert  alert-warning">Inserire delle domande</div>
                <!-- /ko -->

            </div>
            <input type="submit" class="btn btn-default" />
        </form>
    </div>
    <div class="col-md-6">
        <div class="filters">
            <div class="form-group">
                <label for="courses">Materie:</label>
                <select id="courses"
                        class="form-control"
                        data-bind="options: courses,
                       optionsText: 'title',
                       optionsValue: 'courseId',
                       value: selectedCourse,
                       selectedOptions: [selectedCourse],
                       optionsCaption: 'Choose...'"></select>
            </div>
            <div class="form-group">
                <label for="subjects">Argomenti:</label>
                <select id="subjects"
                        class="form-control"
                        data-bind="options: subjects,
                       optionsText: 'title',
                       optionsValue: 'subjectId',
                       value: selectedSubject,
                       selectedOptions: [selectedSubject],
                       optionsCaption: 'Choose...'"></select>
            </div>
        </div>
        <div class="row">
            <!-- ko if: filteredQuestions().length > 0-->
            <table class="table table-striped">
                <thead>
                    <tr><th>Id</th><th>Question</th></tr>
                </thead>
                <tbody data-bind="foreach: filteredQuestions()">
                    <tr>
                        <td data-bind="text: id"></td>
                        <td data-bind="html: text"></td>
                        <td data-bind="text: subjectId"></td>
                        <td><a href="#" data-bind="click: function() { $parent.selectQuestion($data); }">Select</a></td>
                    </tr>
                </tbody>
            </table>
            <!-- /ko -->
            <!-- ko if: filteredQuestions().length === 0-->
            <div class="alert alert-info">Nessuna domanda per il filtro selezionato</div>
            <!-- /ko -->
        </div>
    </div>
</div>


@section Scripts {

    <script src="~/js/Exam.js" asp-append-version="true"></script>
    <script type="text/javascript">

        var vm;
        var questions = @Json.Serialize(Model.Questions ?? new List<int>());
        $.getJSON("/Question/Get",function (data) {
            var model = {
                availableQuestions: data.questions,
                alreadySelectedQuestions: questions,
                subjects: data.subjects,
                courses: data.courses,
                title: '@Html.Raw(Model.Title)',
                instructions: '@Html.Raw(Model.Instructions)'
            };
            vm = new ExamsViewModel(model);
            ko.applyBindings(vm);
        }
);
    </script>
}