@model QuizH.ViewModels.Question.QuestionImportViewModel

<h2>Importazione Domande</h2>
<form asp-controller="Question" asp-action="Import" method="post">
    <div class="form-group">
        <label asp-for="Subject">
            Argomento
            <select class="form-control" asp-for="Subject" asp-items="@(new SelectList(Model.AvailableSubjects))"></select>
        </label>
    </div>
    <div class="form-group">
        <label asp-for="Questions">
            Testo Domande
            <textarea class="form-control" asp-for="Questions" ></textarea>
        </label>
    </div>
    <input type="submit" class="btn btn-default"/>

</form>

